@media (max-width:768px) {

    .hero {
        padding-top: 28px;
    }

    .header .nav__list {
        display: none;
    }

    .hero__main {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 80px;
    }

    .hero__contant {
        width: 90%;
    }

    .hero__img-wrap {
        width: 90%;
    }

    /* _________________ */
    .title {
        text-align: center;
        margin-bottom: 30px;
    }

    .hero_subtitle {
        margin-bottom: 30px;
        text-align: center;
    }

    .hero__btn-wrap {
        text-align: center;
    }

    .btn {
        display: inline-block;
        padding: 15px 25px;
    }

    .achievements {
        padding: 50px 0px;
    }

    .skills__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .skills__contant {
        padding-top: 80px;
        width: 50%;
        margin-right: 0;
    }

    .form__rous {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .skills__img {
        object-fit: cover;
    }

    .form__input {
        flex: 1 0 100%;
    }

    .footer__content {
        row-gap: 20px;
        text-align: center;
        flex-direction: column-reverse;
    }

    .footer__user-name {
        margin-bottom: 10px;
    }
}

@media (max-width:425px) {}