:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Revalia", sans-serif;
}

/* base-title */
* {
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.wrapper {
    min-width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0px 5px;
}

/* main-page */
/* header */

.hero {
    background: rgb(238, 239, 241);
    padding-top: 56px;
    padding-bottom: 146px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 96px;
}

.navigation {}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 42px;
    text-transform: uppercase;
}

.nav__item {}

.nav__link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #34547a;
}

/* header-end */

.hero__main {
    padding-top: 162px;
    display: flex;
}

.hero__img-wrap {
    text-align: center;
    width: 50%;
}

.hero__img-img {
    max-width: 367px;
}

.hero__contant {
    width: 50%;
}

.title {
    margin-bottom: 46px;
    font-weight: 500;
    font-size: 48px;
    color: #000;
}

.subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;

}

.hero_subtitle {
    text-align: left;
    margin-bottom: 60px;
}

.hero__btn-wrap {}

.btn {
    display: inline-block;
    padding: 25px 41px;
    background: #34547a;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.5s;
}

.btn:hover {
    background: #2e445f;
    font-size: 20px;
    border-radius: 20px;
}

/* about */

.about {
    padding-top: 120px;
    padding-bottom: 100px;

}

.about__content {
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
}

/* title of text */
.section-title {
    margin-bottom: 50px;
    font-size: 32px;
    text-align: center;
    color: #000;
}

.achievements {
    background-color: #34547a;
    padding-top: 100px;
    padding-bottom: 100px;
}

.achievements__list {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

.achievement {
    align-items: flex-end;
    display: flex;
    column-gap: 20px;
}

.achievement__count {
    font-weight: 500;
    font-size: 21px;
    color: #fff;
    margin-bottom: 5px;
}

.achievement__text {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}


/* .achievement__desc {
    margin-left: 15px;
}

.achievement__count {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    color: #fff;
    margin-bottom: 5px;
}

.achievement__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #fff;
}

.achievements__item {
    display: flex;
}

.achievement {}

.achievement__item {} */

.skills {
    padding: 100px 0px 100px;
}

.skills__container {
    display: flex;
}

.skills__contant {
    width: 50%;
    padding-top: 100px;
}

.section-title {}

.skills__list {}

.skills__item {
    margin-bottom: 25px;
}

.skill__name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;
    margin-bottom: 14px;
}

.skill__meter-wrap {
    width: 50%;
    padding-left: 21px;
}

.skill__meter,
.skill__meter::-webkit-meter-bar {
    width: 445px;
    max-width: 100%;
    height: 4px;
    border: none;
    border-radius: 0;
}

.skill__meter::-webkit-meter-optimum-value {
    background: #34547a;
}

.demo{
    background-color: #eeeff1;
    padding: 100px;
    padding-bottom: 100px;
}

.demo__subtitle{
    max-width: 540px;
    margin: 0 auto 56px;
}

.demo__video-wrap{
    position: relative;
    padding: 0 20px;
}


.demo__video{
    width: 100%;;;
}

.video__Play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.3s;
}

.video__Play-button:active{
    transform: translate(-50%, -50%) scale(0.8);
}


